<div class="img"></div>
<div class="artworks-container container">
  <h1><mat-icon>color_lens</mat-icon>Obras Destacadas</h1>
  <mat-grid-list class="artworks-cards" cols="4" rowHeight="4:6" >
    <mat-grid-tile *ngFor="let artworkElement of artworks">
      <app-cards [artwork]="artworkElement"></app-cards>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<mat-divider></mat-divider>

<div class="artists-container container">
  <h1><mat-icon>brush</mat-icon>Artistas más seguidos</h1>
  <mat-grid-list class="artists-cards" cols="4" rowHeight="6:6" >
    <mat-grid-tile *ngFor="let artistElement of artists">
      <app-cards [artist] ="artistElement"></app-cards>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<mat-divider></mat-divider>

<div class="events-container container">
  <h1><mat-icon>event</mat-icon>Próximos Eventos</h1>
  <mat-grid-list class="events-cards" cols="4" rowHeight="4:6" >
    <mat-grid-tile *ngFor="let eventElement of events">
      <app-cards [event]="eventElement"></app-cards>
    </mat-grid-tile>
  </mat-grid-list>
</div>
