.form-container{
  margin-top: 16px;
  height: 82vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100
}
svg{
  position: fixed;
  z-index: 150;
  right: -12%;
  top: 40px;
  height: 370px;
}
svg:first-of-type{
  right: 75%;
  top: 10px;
  height: 800px;
}

mat-card-header{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;
  z-index: 200;
}
form{
  z-index: 200;
}
mat-card-content{
  display: flex;
  flex-direction: column;
  width: 300px;
}
mat-card-actions{
  text-align: center;
}
