
<div class="banner">
  <h1 class="banner-tittle">Evento</h1>
  <button mat-raised-button class="btn-color"
          routerLink="/assistance"
          routerLinkActive="active">Asistir</button>
</div>

<br>

<div class="info-container">

  <div class="left-content">
    <h1>Descripción</h1>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolorem minima minus.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolorem minima minus.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolorem minima minus.</p>
  </div>

  <div class="right-content">
    <h1>Datos: </h1>
    <p><mat-icon>event</mat-icon>Fecha de inicio: 12/06/21</p>
    <p><mat-icon>event</mat-icon>Fecha de fin: 31/06/21</p>
    <button mat-button color="white"><mat-icon>share</mat-icon>Compartir</button>
  </div>

</div>

<br>

<div class="goBack">
  <button mat-raised-button class="btn-color" routerLink="/home">Volver</button>
</div>

<br>
<p>events-id works!</p>
