
<div class="banner">
  <h1 class="banner-tittle">{{eventData.title}}</h1>
  <button mat-raised-button class="btn-color"
          (click)="goToScheduled(eventData.artistId, eventData.id)"
          routerLinkActive="active">Asistir</button>
</div>

<br>

<div class="info-container">

  <div class="left-content">
    <h1>Descripción</h1>
    <br>
    <p>{{eventData.description}}</p>
  </div>

  <div class="right-content">
    <h1>Datos: </h1>
    <p><mat-icon>event</mat-icon>Fecha de inicio: {{(eventData.dateStart.slice(0,10))}}</p>
    <p><mat-icon>event</mat-icon>Fecha de fin: {{eventData.dateEnd.slice(0,10)}}</p>
    <button mat-button color="white"><mat-icon>share</mat-icon>Compartir</button>
  </div>

</div>

<br>

<div class="goBack">
  <button mat-raised-button class="btn-color" (click)="back()" >Volver</button>
</div>

<br>

