<mat-card class="form-container">
  <mat-card-header>
    <mat-card-title style="font-size: xx-large">Regístrate</mat-card-title><br>
    <img mat-card-md-image  src="./assets/img/membership.svg" alt="login image">
  </mat-card-header>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Username</mat-label>
        <input matInput formControlName="user" type="email" placeholder="Ex.great_artist21" required>
        <mat-error *ngIf="registerForm.controls.user.touched && registerForm.controls.user.invalid">
          <span *ngIf="registerForm.controls.user.errors?.required">El username es requerido.</span>
          <span *ngIf="registerForm.controls.user.errors?.minlength">El username debe ser de al menos 8 caracteres.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" type="email" placeholder="Ex.username@example.com" required>
        <mat-error *ngIf="registerForm.controls.email.touched && registerForm.controls.email.invalid">
          <span *ngIf="registerForm.controls.email.errors?.required">El e-mail es requerido.</span>
          <span *ngIf="registerForm.controls.email.errors?.email">El e-mail debe ser válido.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Password" required minlength="6">
        <mat-error *ngIf="registerForm.controls.password.touched && registerForm.controls.password.invalid">
          <span *ngIf="registerForm.controls.password.errors?.required">La contraseña es requerida.</span>
          <span *ngIf="registerForm.controls.password.errors?.minlength">La contraseña debe ser de al menos 8 caracteres.</span>
          <span *ngIf="registerForm.controls.password.errors?.pattern">La contraseña debe contener al menos una minúscula, una mayúscula, y un número o caracter especial.</span>
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-radio-group aria-label="Select an option" formControlName="userType" required>
      <mat-radio-button value="1">Artista</mat-radio-button>
      <mat-radio-button value="2">Aficionado</mat-radio-button>
    </mat-radio-group>
    <mat-checkbox formControlName="terms" required (click)="openDialog()">Términos y condiciones</mat-checkbox>
    <mat-card-actions>
      <button mat-raised-button
              routerLink="/home"
              routerLinkActive="active"
              color="warn" type="submit" [disabled]="registerForm.invalid">
        Registrar
      </button>
    </mat-card-actions>
  </form>
  <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
    <path fill="#FA4D56" d="M35.8,-38.4C50,-30.7,67.8,-22.9,70.3,-11.9C72.8,-1,60.1,13.2,50.3,28.2C40.6,43.1,33.9,59,24.4,59C14.8,59,2.4,43.2,-11,35.9C-24.5,28.5,-39,29.7,-48.3,23.2C-57.6,16.7,-61.7,2.6,-57,-7.7C-52.4,-17.9,-39,-24.2,-28,-32.6C-17.1,-40.9,-8.5,-51.3,1.1,-52.6C10.8,-54,21.5,-46.2,35.8,-38.4Z" transform="translate(100 100)" />
  </svg>
  <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
    <path fill="#FA4D50" d="M64.4,-30.9C77.3,-14.9,77.4,14.9,64.5,38C51.6,61,25.8,77.4,2.8,75.7C-20.1,74.1,-40.2,54.5,-49.1,33.7C-58,12.9,-55.7,-9,-45.7,-23.4C-35.6,-37.8,-17.8,-44.7,4,-47C25.8,-49.3,51.5,-46.9,64.4,-30.9Z" transform="translate(100 100)" />
  </svg>
</mat-card>
