<div class="main-div">
<mat-card class="main-content">

  <mat-card-header>
    <mat-card-title class="form-tittle">Confirma tu asistencia</mat-card-title>
  </mat-card-header>

  <form style="text-align: center" [formGroup]="assistanceForm" (ngSubmit)="scheduledEvent()">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Elige una fecha" formControlName="assistanceDay" (ngModelChange)="modelChanged($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="month"></mat-datepicker>
    </mat-form-field>
    <mat-card-actions>
      <button mat-stroked-button
              color="warn"
      (click)="back()">
        Volver
      </button>
      <button mat-raised-button
              color="warn" [disabled]="assistanceForm.invalid" type="submit">
        Asistir
      </button>
    </mat-card-actions>
  </form>

  <!--Botones-->
</mat-card>
</div>


