<div class="banner">
  <h1 class="banner-tittle">{{artwork.title}}</h1>
</div>

<br>

<div class="info-container">

  <div class="left-content">
    <h1>Descripción</h1>
    <br>
    <p>{{artwork.description}}</p>
  </div>

  <div class="right-content">
    <h1>Datos: </h1>
    <p>
      <mat-icon class="dollar-icon"><i class="fas fa-dollar-sign"></i></mat-icon>
      {{artwork.cost}}</p>
    <div class="artwork-actions">
      <button mat-button color="white">
        <mat-icon>share</mat-icon>
        Compartir
      </button>
      <button mat-icon-button [color]="color" [class.mat-elevation-z8]="true" (click)="favoriteInteraction()">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>

</div>

<br>

<div class="goBack">
  <button mat-raised-button class="btn-color" (click)="back()">Volver</button>
</div>

<br>
