
<mat-toolbar class="toolbar">
  <span class="Logo">PeruStars</span>
  <button *ngIf="inSession()" mat-button routerLink="/home" routerLinkActive="active">Home</button>
  <button *ngIf="inSession()" mat-button routerLink="/favorites" routerLinkActive="active">Favorites</button>
  <span class="example-spacer"></span>
  <div class="toolbar-options" *ngIf="!inSession()">
    <button mat-button color="warn" routerLink="/" routerLinkActive="active">Home</button>
    <button mat-button color="warn" routerLink="/about" routerLinkActive="active">About</button>
    <button mat-raised-button class="btn-color" routerLink="/login" routerLinkActive="active">Iniciar Sesión</button>
    <button mat-stroked-button color="warn" routerLink="/register" routerLinkActive="active">Registrar</button>
  </div>

    <h5 *ngIf="inSession()" class="user-name">Shiba Inu</h5>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" *ngIf="inSession()">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/hobbyist-profile">
        <mat-icon>settings</mat-icon>
        <span>Editar perfil</span>
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span><a routerLink="/" routerLinkActive="active">Cerrar Cesión</a></span>
      </button>
    </mat-menu>

</mat-toolbar>
