<mat-toolbar class="toolbar">
  <span class="Logo">PeruStars</span>
  <span class="example-spacer"></span>
  <div class="toolbar-options" *ngIf="!inSession()">
    <button mat-button color="warn" routerLink="/" routerLinkActive="active">Home</button>
    <button mat-button color="warn" routerLink="/about" routerLinkActive="active">About</button>
    <button mat-raised-button class="btn-color" routerLink="/login" routerLinkActive="active">Iniciar Sesión</button>
    <button mat-stroked-button color="warn" routerLink="/register" routerLinkActive="active">Registrar</button>
<!--    <h2 class="Options" >Home</h2>
    <span class="spacer"></span>
    <h2 class="Options">Obras</h2>
    <span class="spacer"></span>
    <h2 class="Options">Eventos</h2>
    <span class="spacer"></span>
    <button class="Register">
      <h2 class="Register-text">Iniciar Sesion</h2>
    </button>-->
  </div>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" *ngIf="inSession()">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>home</mat-icon>
      <span><a routerLink="/home" routerLinkActive="active">Home</a></span>
    </button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Editar perfil</span>
    </button>
    <button mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span><a routerLink="/" routerLinkActive="active">Cerrar Cesión</a></span>
    </button>
  </mat-menu>
</mat-toolbar>

