<section>
  <div class="shape">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M-5.92,83.38 C-5.92,84.38 509.31,143.58 509.87,144.56 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill: #fff;"></path>
    </svg>
  </div>

  <!--<div class="edit-actions border-prueba">
    <div *ngIf="isArtist" class="edit-image">
      <button mat-mini-fab color="white" (click)="showImageEditOption($event)" class="">
        <mat-icon><i class="fas fa-pencil-alt"></i></mat-icon>
      </button>
      <div class="edit-image-options" id="image-options">
        <app-open-file-dialog requiredFileType="image/png, image/jpeg, image/jpg"
                              (sendImageEvent)="setImageUrl($event)"></app-open-file-dialog>
        <button mat-mini-fab color="white" (click)="removeImage()" class="">
          <mat-icon><i class="fas fa-trash"></i></mat-icon>
        </button>
      </div>
    </div>
    <div class="edit-contact">
      <mat-form-field appearance="legacy" id="contact-input-edit" class="edit-contact-input" (click)="FormClick($event)">
        <mat-label>Input</mat-label>
        <input matInput>
      </mat-form-field>
      <div *ngIf="isArtist" class= "">
        <button mat-mini-fab color="white" class="" (click)="ShowContactEditForm($event)">
          <mat-icon><i class="fas fa-pencil-alt"></i></mat-icon>
        </button>
      </div>
    </div>
    <div class="edit-social-media">
      <div *ngIf="isArtist" class="">
        <button mat-mini-fab color="white" class="">
          <mat-icon><i class="fas fa-pencil-alt"></i></mat-icon>
        </button>
      </div>
    </div>
    <div class="edit-phrase">
      <mat-form-field appearance="legacy" id="phrase-input-edit" class="edit-phrase-input" (click)="FormClick($event)">
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <div *ngIf="isArtist" class="">
        <button mat-mini-fab color="white" (click)="ShowPhraseEditForm($event)">
          <mat-icon><i class="fas fa-pencil-alt"></i></mat-icon>
        </button>
      </div>
    </div>
  </div>-->

  <mat-card class="top-content background-transparent" style="margin-top:63px;">
    <mat-card-content class="artist-image-container text-white">
      <mat-card-title>Artist Name</mat-card-title>
      <div>
        <img mat-list-icon width="200" height="200" class="image-profile" [src]="imageUrl"
             alt="ArtistaImg">

      </div>
    </mat-card-content>
    <mat-card-content class="artist-top-data">
      <div>
        <p>789 seguidores</p>
        <p>Correo/num contacto</p>
      </div>
      <div mat-list-icon class="artist-icons">
        <button mat-icon-button>
          <a href="https://www.facebook.com/" target="_blank">
            <mat-icon class="top-icon"><i class="fab fa-facebook"></i></mat-icon>
          </a>
        </button>
        <button mat-icon-button>
          <a href="https://www.instagram.com/" target="_blank">
            <mat-icon class="top-icon"><i class="fab fa-instagram"></i></mat-icon>
          </a>
        </button>
        <button mat-icon-button>
          <a href="https://twitter.com/" target="_blank">
            <mat-icon class="top-icon"><i class="fab fa-twitter"></i></mat-icon>
          </a>
        </button>
      </div>
      <div class="artist-phrase">
        <p>"Aquí va texto de una frase célebre Aquí va texto de una frase célebre Aquí va texto de una frase célebre
          Aquí va texto de una frase célebre"</p>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="btn-special-container">
    <button id="followBtn" mat-button class="btn-special-color text-white"
            (click)="updateFollowState()">{{this.followAction}}</button>
  </div>
</section>

<section>
  <mat-card class="who-am-i background-transparent">
    <mat-card-title class="title">¿Quién soy?</mat-card-title>
    <p class="paragraph">"Aquí va texto de su descripción Aquí va texto de su descripción Aquí va texto de su
      descripción Aquí va texto de
      su descripción Aquí va texto de su descripción Aquí va texto de su descripción Aquí va texto de su
      descripción Aquí va texto de su descripción."</p>
  </mat-card>
</section>

<section class="artworks-section">
  <mat-card class="my-artworks background-transparent">
    <div class="title-section-container">
      <mat-card-title class="title text-white">Mis obras de arte</mat-card-title>
      <button mat-stroked-button color="warn" class="section-button-white">Agregar +</button>
    </div>
    <mat-card-content>
      <div class="carousel-container">
        <button mat-icon-button class="background-transparent arrow text-white"
                (click)="backShowingElement(this.ArtworksCarousel, 'art')">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <mat-list-item class="carousel-item art" *ngFor="let artwork of this.ArtworksCarousel.Showing">
          <app-cards [artwork]="artwork"></app-cards>
        </mat-list-item>
        <button mat-icon-button class="background-transparent arrow text-white"
                (click)="nextShowingElement(this.ArtworksCarousel, 'art')">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</section>

<section class="events-section">
  <mat-card class="my-events background-transparent">
    <div class="title-section-container">
      <mat-card-title class="title">Futuros eventos</mat-card-title>
      <button mat-button class="section-button text-white">Agregar +</button>
    </div>
    <mat-card-content>
      <div class="carousel-container">
        <button mat-icon-button class="background-transparent arrow"
                (click)="backShowingElement(this.EventsCarousel, 'eve')">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <mat-list-item class="carousel-item hide-c-item eve" *ngFor="let event of this.EventsCarousel.Showing">
          <app-artist-event-card [event]="event"></app-artist-event-card>
        </mat-list-item>
        <button mat-icon-button class="background-transparent arrow"
                (click)="nextShowingElement(this.EventsCarousel, 'eve')">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</section>
