.first-sections{
  height: 100vh;
}

a{
  text-decoration: none;
  color: white;
}

.shape {
  height: 60vh;
  overflow: hidden;
  background: linear-gradient(90deg, rgba(203, 144, 40, 1) 0%, rgba(255, 0, 0, 1) 100%);
  stroke: none;
  position: relative;
  top: 0;
}

.top-content {
  top: 0;
  position: absolute;
  box-shadow: none;
  display: flex;
  flex-direction: row;
}

.image-profile{
  border-radius: 500px;
}

.artist-image-container{
  text-align: center;
  margin-left: 110px;
  padding-top: 65px;
}

.artist-image-container>mat-card-title{
  font-weight: 560;
}

.artist-image-container>div {
  display: flex;
  flex-direction: column;
}

.artist-top-data{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 0px 0px 0;
}

.artist-top-data>div{
  width: 30%;
  color: white;
  text-align: center;
}

.artist-icons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 20%;
}

.artist-icons>button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.artist-icons mat-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.artist-phrase{
  font-size: 17px;
}

.btn-special-container{
  display: flex;
  justify-content: center;
  float: right;
  width: 400px;
}

.btn-special-color {
  font-weight: 500;
  width: 130px;
  height: 40px;
  min-height: 30px;
  background: radial-gradient(circle, rgba(203, 144, 40, 1) 0%, rgba(221, 0, 0, 1) 100%);
  margin-top: -60px;
  transition: all 0.4s ease;
}

.resizeBtn{
  width: 130px;
  transition: all 0.4s ease;
}

.who-am-i{
  margin-left: 50px;
  margin-top: 18px;
  margin-bottom: 36px;
  max-width: 800px;
  box-shadow: none;
}

.title{
  margin-bottom: 24px;
  margin-left: 10px;
}

.paragraph{
  font-size: 1.15em;
}

.text-dark{
  color: black;
}

.text-white{
  color: white;
}

.background-transparent{
  background: transparent;
  box-shadow: none;
}

.artworks-section {
  background: linear-gradient(90deg, rgba(236, 187, 61, 1) 0%, rgba(223, 0, 0, 1) 100%);
  padding: 1px 0;
}

.my-artworks{
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.events-section{
  padding: 1px 0;
}

.my-events{
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.carousel-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  overflow-x: hidden;
}

.carousel-item{
  display: block;
  transition: all 0.3s ease;
}

.carousel-item-enter-right{
  margin-right: -100%;
  opacity: 0%;
  transition: all 0.3s ease;
}

.carousel-item-enter-left{
  margin-left: -100%;
  opacity: 0%;
  transition: all 0.3s ease;
}

.carousel-item-out-left{
  margin-left: -100%;
  opacity: 0%;
  transition: all 0.3s ease;
}

.carousel-item-out-right{
  margin-right: -100%;
  opacity: 0%;
  transition: all 0.3s ease;
}

.hide-c-item{
  opacity: 0%;
}

.arrow{
  width: 100px;
  height: 100px;
}

.arrow mat-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 9em;
  opacity: 85%;
}

mat-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-prueba{
  border: 2px solid blue;
}

.d-flex{
  display: flex;
}

d-block{
  display: block;
}

d-in-line{
  display: inline;
}

.justify-center{
  justify-content: center;
}

.justify-space-between{
  justify-content: space-between;
}

.justify-space-around{
  justify-content: space-around;
}

.justify-space-evenly{
  justify-content: space-evenly;
}

.justify-self-center{
  justify-self: center;
}

.align-items-center{
  align-items: center;
}

.my-auto{
  margin: auto 0;
}

.pos-relative{
  position: relative;
}

.ml--130{
  margin-left: -130px;
}

.edit-actions{
  display: flex;
  top:-150px;
  z-index: 5;
}

.edit-image{
  margin-left: 290px;
}

.width-150{
  width: 50px !important;
}

.edit-image-options{
  opacity: 0%;
  transition: all 0.3s ease;
  margin: 0;
  padding: 0;
}
.image-options-show{
  opacity: 100%;
  transition: all 0.3s ease;
}

.edit-contact{
  display: flex;
  margin-left: 10px;
  margin-top: -70px;
}

.edit-contact-input{
  opacity: 0%;
  transition: all 0.3s ease;
}

.edit-contact-input-show{
  opacity: 100%;
  transition: all 0.3s ease;
}

.edit-social-media{
  margin-left: 52px;
  margin-top: -40px;
}

.edit-social-input{
  opacity: 0%;
  transition: all 0.3s ease;
}

.edit-social-input-show{
  opacity: 100%;
  transition: all 0.3s ease;
}

.edit-phrase{
  margin-top: -150px;
  display: flex;
  margin-left: 70px;
}

.edit-phrase-input{
  opacity: 0%;
  transition: all 0.3s ease;
}

.edit-phrase-input-show{
  opacity: 100%;
  transition: all 0.3s ease;
}

.title-section-container{
  display: flex;
  justify-content: space-between;
}

.section-button{
  font-weight: 500;
  width: 110px;
  height: 40px;
  min-height: 30px;
  background: radial-gradient(circle, rgba(203, 144, 40, 1) 0%, rgb(194, 0, 0) 100%);
}

.section-button-white{
  font-weight: 500;
  width: 110px;
  height: 40px;
  min-height: 30px;
  background-color: white;
}
