<section>
  <div class="main-container">
    <h2 class="title">Mis Obras Favoritas</h2>
    <div>
      <div class="carousel-container">
        <button mat-icon-button class="background-transparent arrow"
                (click)="backShowingElement(this.ArtworksCarousel, 'art')">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <mat-list-item class="carousel-item art" *ngFor="let artwork of this.ArtworksCarousel.Showing">
          <app-cards [artwork]="artwork"></app-cards>
        </mat-list-item>
        <button mat-icon-button class="background-transparent arrow"
                (click)="nextShowingElement(this.ArtworksCarousel, 'art')">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
