.artwork-card, .event-card{
  max-width: 240px;
}
.artist-card {
  max-width: 200px;
}
p{
  text-align: justify;
}
mat-card-actions{
  display: flex;
  justify-content: space-between;
}
.artist-header-image {
  background-image: url('https://picsum.photos/id/1011/300');
  /*background-image: url('https://picsum.photos/id/1061/400');*/
  background-size: cover;
}










.artwork-container{
  align-items: center;
}
.card-avatar{
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.artworks-card{
  max-width: 200px;
  margin:auto;
}



