<mat-card class="artwork-card" *ngIf="typeOfCard()=='artwork'">
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <mat-card-title style="font-size: medium">{{artwork.name}}</mat-card-title>
    <p style="font-size: small">
      {{artwork.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="white"><mat-icon>attach_money</mat-icon>{{priceArtwork(artwork.cost)}}</button>
    <button *ngIf="isLogged()" mat-raised-button color="warn" routerLink="/artwork">Ver más</button>
    <button *ngIf="!isLogged()" mat-raised-button color="warn" (click)="openDialog()">Ver más</button>
  </mat-card-actions>
</mat-card>

<mat-card class="event-card" *ngIf="typeOfCard()=='event'">
  <img mat-card-image src="https://picsum.photos/id/184/800" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <mat-card-title style="font-size: medium">{{event.title}}</mat-card-title>
    <button mat-button color="white" class="date-event">
      <mat-icon>insert_invitation</mat-icon>
      {{dateToString(event.dateStart)}}  -
      {{dateToString(event.dateEnd)}}
    </button>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="white"><mat-icon>attach_money</mat-icon>{{priceArtwork(event.cost)}}</button>
    <button *ngIf="isLogged()" mat-raised-button color="warn" routerLink="/event">Ver más</button>
    <button *ngIf="!isLogged()" mat-raised-button color="warn" (click)="openDialog()">Ver más</button>
  </mat-card-actions>
</mat-card>

<mat-card class="artist-card" *ngIf="typeOfCard()=='artist'">
  <mat-card-header>
    <div mat-card-avatar class="artist-header-image"></div>
    <mat-card-title>{{artist.brandName}}</mat-card-title>
    <mat-card-subtitle>Brand Name</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <button mat-button color="white" class="date-event">
      <mat-icon>brush</mat-icon> {{artist.specialty}}
    </button>
    <button mat-button color="white" class="date-event">
      <mat-icon>insert_photo</mat-icon>
      {{artist.numArtworks}}
    </button>
    <p style="font-size: small">
      {{artist.phrase}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="white"><mat-icon>groups</mat-icon>{{artist.followers}}</button>
    <button *ngIf="isLogged()" mat-raised-button color="warn" routerLink="/artist-profile">Conocer</button>
    <button *ngIf="!isLogged()" mat-raised-button color="warn" (click)="openDialog()">Conocer</button>
  </mat-card-actions>
</mat-card>
<!--
<div class="artwork-container" *ngIf="false">

  <mat-card class="artworks-card" *ngFor="let artwork of artworks">

    <mat-card-header class="artwork-header">
      <div mat-card-avatar class="card-avatar"></div>
      <mat-card-title style="font-size: medium">{{artwork}}</mat-card-title>
       AQUI IRIA EL NOMBRE DEL ARTISTA COMO SUBTITULO<mat-card-subtitle>{{artwork.artist.brandName}}</mat-card-subtitle>
    </mat-card-header>
    <br>

    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

    <mat-card-content>
      <mat-card-title style="font-size: medium">{{artwork}}</mat-card-title>
       AQUI NO SE MOSTRARIA EL LOREM, SINO, LA DESCRIPCION <p style="font-size: small">{{artwork.description}}</p>
      <p style="font-size: small">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolorem minima minus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolorem minima minus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolorem minima minus.
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="warn">Ver más</button>
      <button mat-button color="white"><mat-icon>delete</mat-icon></button>
      <button mat-button color="white"><mat-icon>update</mat-icon></button>

    </mat-card-actions>
  </mat-card>
  <br>
  <br>
</div>-->
